* {
	padding : 0px;
	margin : 0px;
	border : 0px;
}

body {
	font-family : Arial, sans-serif;
}
/* =========   HEADER   ==========*/
header#header {
	background-color: #8AE62E;
	height : 70px;
}

#header > h1{
	color : #FFF;
	display: inline-block;
	padding : 15px;
	float : left;
}

#header > input {
	height : 35px;
	width : 700px;
	float : left;
	margin-top : 12px;
	padding : 5px;
	padding-left: 10px;
	font-size: 20px;
}

#goto-website {
	height : 40px;
	width : 40px;
	background-color : #7519D1;
	color : #FFF;
}

#goto-website:active {
	background-color :#FFF;
	color :  #7519D1;
}

#refresh-website {
	height : 40px;
	width : 80px;
	background-color :#FFF;
	color :  #7519D1;
}

#refresh-website:active {
	background-color : #7519D1;
	color : #FFF;
}

/*========  HEADER2= ==========*/
#resolutions {
	background-color: #8AE62E;
}
#res-nav{
	list-style: none;
	height: 50px;
	width : 1000px;
	margin : 0 auto;
}
#res-nav li{
	display : inline-block;
	margin : 0px;
	/*height : 50px;*/
}
#res-nav li a {
	display : block;
	padding : 13px;
}

#res-nav li a:hover{
	background-color: #CCFF66;
	color : #7519D1;
}

#res-nav li input{
	width : 70px;
	height : 17px;
	font-size: 16px;
	padding : 3px;
}
/*========  HEADER2= ==========*/

/* =========  FOOTER  ==========*/
footer#footer {
	width : 100%;
	margin : 0 auto;
	height : 70px;
	text-align: center;
	border-top: 1px solid #B0B0B0;
	color : #959595;
	padding-top : 15px;
}

/*  =========   CONTENTS  ========*/
#frame1 > iframe{
	height : 280px;
	width : 320px;
}
/*  =========   CONTENTS  ========*/

/* ==== GLOBALS STYLES ====*/
.container {
	width : 1300px;
	margin: 0 auto;
}

.frame-header {
	font-family: impact, Arial, sans-serif;
	padding : 5px 10px;
}

.iframe-contents{
	margin : 15px 30px;
}

.btn {
	font-size: 18px;
	margin-left : 8px;
	margin-top : 14px;
	border-radius: 5px;
	font-weight: bold;
}


.btn-primary{
	height : 40px;
	background-color :#FFF;
	color :  #7519D1;
	padding : 5px;
}

.btn-primary:active{
	background-color : #7519D1;
	color :  #FFF;
}

.thick {
	font-weight: 900;
}

.frame:hover{
	background-color: #CCFF66;
}

.selected{
	background-color: #CCFF66;
	color : #7519D1;
	font-weight: bold;
}
a {
	color : #FFF;
	text-decoration: none;
}

.nav-link{
	height : 50px;
}
.hide{
	display : none;
}

/* ==========   OVERLAY  ================*/
#overlay {
	display : block;
	position: absolute;
	float: left;
	height : 100%;
	width : 100%;
	background-color: #000;
	opacity: 0.6;
	z-index: 0;
}

#help-display {
	float: left;
	position : absolute;
	margin-left : 450px;
	margin-top: 100px;
	width : 500px;
	height : 500px;
	background-color: #fff;
	z-index: 1;
}
#help-display h1{
	padding: 20px 0px;
	text-align: center;
	background-color: #8AE62E;
	color : #FFF;
}

#help-display ul {
	margin : 20px 40px;
}

#help-display ul li{
	padding : 10px 0px;
}
#help-display a{
	float : right;
	margin: 4px 4px;
	padding : 6px 10px;
	background-color: #FFF;
	color : #7519D1;
	border-radius: 20px;
	font-size: 18px;
	font-weight: bold;
}
#help-display a:hover{
	background-color: #7519D1;
	color : #FFF;
}
